<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoMoreStrings</title>
</head>
<body>
    <h1>String Tests Solution</h1>
    <hr>
    <form method="POST" id="form1">
        <input name="item_text" id="id_new_uj" placeholder="Enter user journey number" />
        {% csrf_token %}
    </form>
    <hr>

        <table id="id_list_table">
            {% if items %}
                {% for string in items %}
                    <tr>
                        <td>{{ string }}</td>
                        <td>
                            <form method="POST">
                            <input name="{{ forloop.counter0 }}" placeholder="Enter new string" />
                            {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                    <p>{{ status }}</p>
            {% endif %}
        </table>
    {% if text %}
        <p>{{ text }}</p>
        <p style="white-space: pre;">{{ changes }}</p>
    {% endif %}
    {% if text %}
        <hr>
        <form method="POST">
        <button type="submit" name="test" value="test">Test</button>
        <button type="submit" name="upload" value="upload">Upload</button>
        {% csrf_token %}
        </form>
    {% endif %}
</body>
</html>