<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoMoreStrings</title>
</head>
<body>
    <h1>Strings Solution</h1>
    <hr>
    <form method="POST">
        <input name="item_text" id="id_new_uj" placeholder="Enter user journey number" />
        {% csrf_token %}
    </form>
    <hr>
        <table id="id_list_table">
            {% if items %}
                {% for string in items %}
                    <tr>
                        <td>{{ string }}</td>
                        <td>
                            <form method="POST">
                                <input name="new_string" placeholder="Enter new string" />
                                <input type="hidden" name="old_string" value="{{ forloop.counter0 }}" />
                                {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                    <p>{{ status }}</p>
            {% endif %}
        </table>
    {% if text %}
        <p>{{ text }}</p>
        <pre>{{ changes }}</pre>
    {% endif %}
    {% if text %}
        <hr>
        <form method="POST">
            <input name="case_number" id="case" placeholder="Enter redmine case number" />
            <input name="message" id="message" placeholder="Enter commit message" />
            <button type="submit" name="commit" value="commit">Commit</button>
            {% csrf_token %}
        </form>
        <form method="POST">
            <button type="submit" name="upload" value="upload">Upload</button>
            {% csrf_token %}
        </form>
    {% endif %}
</body>
</html>